.container {
  padding: 1em;
  width: 100%;
  height: 100%;
  border: solid 0.1em grey;
  border-radius: 0.3em;
  font-size: 1.1rem;
  transition: all 0.1s ease-out;
}

.container p {
  margin: 0;
}

.cardTitle {
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 1em;
}

.container:hover {
  transform: scale(1.05);
  box-shadow: 0em 0em 1em grey;
}

.container:active {
  transform: scale(0.95);
}
