@use '../../styles/variables';
@use '../../styles/mainLink' as *;

.navHeader {
  background-color: white;
  display: flex;
  position: sticky;
  top: 0;
  box-shadow: 0em 0.02em 0.2em black;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  align-items: center;
  justify-content: space-between;
  z-index: 5;

  p {
    margin: 0
  }

  nav {
    ul {
      display: flex;
      margin: 0;
      padding: 0;
    }

    li {
      list-style-type: none;
      padding-left: 2rem;
      font-size: 1.2rem;
      font-weight: bold;
    }

    @include mainLink;

    a:hover {
      text-decoration-thickness: 0.1em;
    }
  }
}

.siteTitle {
  align-items: center;
}

.toggleNavButton {
  display: none;
  border: none;
  background: none;
  font-size: 1.6rem;
}

.toggleNavButton::before {
  content: "☰"; /* replace by SVG in background */
}

@media only screen and (max-width: 700px) {
  .hidden {
    display: none;
  }

  .navHeader {
    flex-direction: column;
  }

  .toggleNavButton {
    display: block;
  }

  .siteTitle {
    width: 100%;
  }

  .navHeader nav {
    ul {
      flex-direction: column;
    }

    li {
      padding-left: 0;
      margin-top: 0.5em;
    }
  }
}

.pageContent {
  flex: 1;
  padding: 1rem;
}

.pageContent main {
  max-width: 50rem;
  margin: auto;
}

.siteTitle {
  display: flex;
  justify-content: space-between;
}

.siteTitle p {
  font-size: 1.6rem;
}

.siteTitle span {
  font-weight: bold;
  color: variables.$primary-color;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container footer {
  background-color: lightgrey;
  border-top: solid grey 0.07em;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mainLink;

  .contactTitle {
    font-weight: bold;
    font-size: 1.1em;
  }

  .contactLink {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
      margin-left: 1rem;
    }

    margin-bottom: 1rem;
  }
}

.icon {
  max-height: 1.3em;
}
