@use '../../../styles/variables';
@use '../../../styles/mainLink' as *;

.container {
  pre {
    overflow: scroll;
  }

  code {
    font-size: 1rem;
  }

  img {
    max-width: 100%;
    box-shadow: 0em 0em 1em lightgrey;
  }

  a {
    color: variables.$primary-color;
  }

  @include mainLink;
}

.postDate {
  color: rgb(101, 101, 101);
  font-style: italic;
}