.servicesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 1em;
}

@media only screen and (max-width: 700px) {
  .servicesGrid {
    grid-template-columns: 1fr;
  }
}
